*{
    background-color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#downloadLink{
    border: 2px solid black;
    
}

.chart{
    width: 600px;
    height: 600px;
}
